*{
	box-sizing: border-box;
}
body{
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
}
.card-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	border-top: 0;
  }
.card-footer div.row {
	margin-bottom: 35px;
  }
  #webteam, #address {
	line-height: 2;
  }
  #webteam > span, #address > span {
	font-size: 1.3em;
	font-weight: 500;
  }
  #webteam button, #address button {
	margin-top: 15px;
	text-align: center;
  }
  #testimonials {
	font-style: italic;
  }
  #testimonials a{
	  text-decoration: none;
	  color: black;
  }
  #achivements, #Robocon, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
  }
  #achivements:hover, #Robocon:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
  }
  #achivements{
	background: url('../images/achivements.jpg') no-repeat;
	background-position: center;
  }
  #specials-tile {
	background: url('../images/specials-tile.jpg') no-repeat;
	background-position: center;
  }
  #achivements span, #Robocon span, #map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #EBD6D6;
	color: black;
	opacity: .8;
  }
  @media(max-width: 767px){
	.card-footer section {
		margin-bottom: 30px;
		text-align: center;
	  }
	  .card-footer section:nth-child(3) {
		margin-bottom: 0; /* margin already exists on the whole row */
	  }
	  .card-footer section hr {
		width: 50%;
	  }
  }
  @media(max-width : 575px){
	#achivements, #Robocon {
		width: 360px;
		margin: 0 auto 15px;
	}
}
  }