*{
	box-sizing: border-box;
}
body{
	font-family: 'Oxygen', sans-serif;
}
h1{
	text-align: center;
	font-family: 'Lora', serif;
	margin-bottom: 5px;
}
#logo{
	font-family: 'Lora', serif;
	font-weight: bold;
	margin-top: 15px;
	font-size: 1.5em;
}
.row{
	margin: 0;
}
.row section{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}
p {
	font-size: 1em;
	background-color: #afeeee;
	border: 3px solid black;
	text-align: left;
	font-weight: 100;
}
@media (min-width: 768px){
	.desktop{
		float: left;
		width: 33.33%;
	}
	p{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 576px) and (max-width: 767px){
	.tablet{
		float: left;
		width: 50%;
	}
	.tablet p{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	#Sushi {
		clear: left;
	}
	#Sushi p{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media(max-width: 575px){
	.mobile{
		width: 100%;
	}
	p{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}